[2012-08-04 16:53] andybak opened #1 "Aren't some of these a bit silly?"
I struggle to see the point of some of these patterns. They strike me as overly verbose implementations of things that are practically free in a dynamic language with first-class functions. I'm looking at YOU strategy pattern...

[2012-08-27 22:04] jpic opened #3 "Is Borg really implemented right ?"
I thought that the point of Borg was to allow subclassing. However, the implementation doesn't match expectations in this case:

[code]

Are you sure that Borg supports setting attributes in the constructor ?

It looks like it defeats the purpose of Borg...

[2012-12-26 16:15] #1 closed, assigned to nobody

[2013-02-19 11:11] goinnn opened #8 "Error in the iterator.py"
Hello,

There is an error in the iterator.py.

count_to_two and count_to_five returned the same. The count param of the count_to function is not used.

In this changeset is the problem:

https://github.com/faif/python-patterns/commit/1ccc5ed90afc8d6107454b73875b2d009f134851#iterator.py

[2013-02-19 21:19] #8 closed, assigned to nobody

[2013-08-29 05:37] shyamsalimkumar opened #20 "PEP-8 New line at the end of the file"
This is really not much of an issue. Just that there is supposed to be a new line at the end of every file as per the PEP-8 standards, right?

[2013-08-29 07:39] dlai0001 opened #21 "The file labled as 'abstract_factory.py' isn't really an abstract factory."
python-patterns / abstract_factory.py

The idea of an abstract factory is you tell it a super class or interface, and it returns you the best matching subclass.  What the file has in there is a simple manager with a hard coded switch.

Here's an example of an abstract factory pattern, https://github.com/wiredrive/wtframework/blob/master/wtframework/wtf/web/page.py#L151
Notice that it queries pytho

[2013-08-30 20:15] #21 closed, assigned to nobody

[2013-08-30 20:16] #20 closed, assigned to nobody

[2013-11-04 02:27] faizandfurious opened #29 "Make use of informal string representation for abstract_factory"
Hey, thanks for putting this together. I noticed that in the `abstract_factory.py` script, the `show_pet` function does not format the strings together:

[code]

This leads to two things: Odd formatting, and printing the memory address of `pet`, instead of the class name. I suggest we change it to:

[code]

That way, we can make the `print` functions more pythonic (dropping the unnecessary parenth

[2013-11-14 18:44] #29 closed, assigned to nobody

[2014-01-12 21:02] anxiousmodernman opened #41 "Hyperlink is broken in facade.py"
This link is in a comment at the top of the page for [facade.py](https://github.com/faif/python-patterns/blob/master/facade.py)

[code]

And it doesn't seem to go to a blog post. Should it be updated or removed?

[2014-01-16 21:36] #41 closed, assigned to nobody

[2014-01-31 21:43] johntyree opened #42 "Include output as a comment at the bottom of the file."
Understanding how some of the non-obvious patterns work would be aided by simply appending the script output to the bottom for people to read.

They are going to paste this in a shell to see the output anyway.

[2014-02-04 19:59] #42 closed, assigned to nobody

[2014-04-27 05:20] dsoprea opened #53 "Enhance documentation with brief, high-level descriptions/usage of patterns"
I'd hate to think that I'm the only one of the thousands of people who have starred this project, but I would greatly benefit from a list of the purposes of each pattern in the README document. It would keep me/us/others from having to peruse each individual module to determine their use when there are so many other interesting things that that equally demand attention.

Thoughts?

[2014-05-04 10:02] dsoprea opened #54 "Borg AttributeError on str()"
There is a likely possibility of a missing attribute if a str() is requested. The "state" attribute is defined in the looseleaf code at the bottom of the module, but only read within the actual DP template (https://github.com/faif/python-patterns/blob/master/borg.py#L12). There are no guarantees it'll be set in someone else's implementation. It might be safer to just remove the definition for **st

[2014-05-05 12:56] #53 closed, assigned to nobody

[2014-05-05 13:21] #54 closed, assigned to nobody

[2014-07-03 12:15] dreispt opened #57 "Memoize pattern"
Could [memoization](https://en.wikipedia.org/wiki/Memoization) be a pattern fit for this list?

[2014-07-06 19:23] #57 closed, assigned to nobody

[2014-09-16 23:18] svisser opened #64 "Undo or review this commit"
[This commit](https://github.com/faif/python-patterns/commit/fee070271088ca2fd08fcb10ecf1dba8f86b51ff) introduces a SyntaxError on line 27 in `publish_subscribe.py` and it renames `self.subcribers` to `self.subscribe_queue` which causes the other methods not to work anymore: https://github.com/faif/python-patterns/commit/fee070271088ca2fd08fcb10ecf1dba8f86b51ff.

[2014-09-20 16:53] #64 closed, assigned to nobody

[2015-01-27 07:40] polusok opened #70 "Add classifications of patterns so it's easy to find necessary one"
Creational patterns
Structural patterns
Behavioral patterns
Concurrency patterns

[2015-01-27 19:37] faif commented on #70
Thanks for the suggestion. Where do you suggest to do that? Feel free to change it in README.md or create directories and move the relevant patterns inside and I'll approve it :)

[2015-02-17 21:20] gzog commented on #70
That would be really helpful yeah!

[2015-03-19 18:07] BurningPixel commented on #70
How would you classify the patterns, in the file names or with folders?

[2015-03-19 18:26] faif commented on #70
I find both approaches fine.

[2015-04-22 23:52] LiVincent-Zhang commented on #70
I think it is a good idea that add the classification just in *README.md* .

[2015-06-12 17:42] kissgyorgy opened #88 "Another pattern for lazy evaluation"
There is another pattern for the lazy evaluation https://github.com/faif/python-patterns/blob/master/lazy_evaluation.py
called cached_property. It does almost the same as lazy_evaluation.py, but instead of setting a different name on the object dict, it sets the same name, so the actual property will be shadowed (but not lost).
Invalidating the cached value is by simply deleting it.
You can read m

[2015-06-12 18:45] maximilianr commented on #88
I think that's the same as the lazy library (https://pypi.python.org/pypi/lazy), and does seem like a better design, even if you have to understand a bit more about how python looks up instance & class attributes.

[2015-06-13 18:40] faif commented on #70
@LiVincent-Zhang Feel free to commit a change :)

[2015-06-13 18:44] faif commented on #88
@kissgyorgy @maximilianr Thanks for the info. The main idea is the same in all cases. A generic decorator-based solution. I'm not sure if it's worthwhile to add another example or replace the existing.

[2015-07-09 02:49] heshamfm opened #90 "Calling business logic on different physical machine"
In 3-tier.py the UI class makes a normal call to the business logic class as if they both run on the same machine, rather it must cater for calling business logic that resides on a centralized separate machine. I hope I'm not missing the point.

[2015-07-14 18:33] faif commented on #90
Correct, but how could you implement that as an example? It's more convenient to demonstrate it by placing all tiers in the same machine.

[2015-07-19 02:59] heshamfm commented on #90
For demo purpose,  yes, absolutely agree

[2015-07-19 02:59] #90 closed

[2015-08-19 13:49] FalloutX commented on #70
@faif this is still not done. I'll try to do this. I'll just update the classfication in the the README.md.

[2015-08-19 16:59] faif commented on #70
@FalloutX Great, thanks :+1:

[2015-09-07 16:04] #70 closed

[2015-10-06 19:32] #88 closed

[2016-02-15 20:52] fkromer opened #117 "When flyweight.py is run as skript it raises an error"
When flyweight.py is run as skript the following output is generated:

[code]

[2016-02-19 19:29] faif commented on #117
I confirm that it fails in Python 3. Any idea about the source of the problem?

[2016-02-19 20:22] fkromer commented on #117
Not yet. I decided to write the unit tests for the other patterns first.

[2016-02-20 12:34] fkromer opened #120 "3-tier.py and mvc.py are almost identical"
*3-tier.py* and *mvc.py* are almost identical from a high level point of view. The only difference is that in *3-tier.py* the *logic* instance and the *ui* instance may be assigned to the *data* instance explicitly. In *mvc.py* the *model* instance and the *view* instance is assiged to the *controller* instance statically during its creation.

[2016-02-20 12:42] fkromer commented on #120
Quality attribute | explicit assingment (3-tier.py) | implicit assignment (mvc.py)
--- | --- | ---
code reusability | + | -
usage complexity | - | +

[2016-02-21 10:05] faif commented on #120
What would you propose, to remove one of them? Initially there was only mvc.py but later on a contributor decided to also add 3-tier.py, and I thought that it might be useful for some people.

[2016-02-21 13:03] fkromer commented on #120
I like the explicit assignment concept in 3-tier.py. But most people will know and find the pattern under the name MVC. I would merge the explicit assigment of 3-tier.py into mvc.py and delete this version of 3-tier.py. I think i have read about a 5-tier pattern already. Maybe a n-tier pattern is missing and needs to be implemented as python example.

[2016-02-22 13:10] ar4s commented on #117
First of all, Python 3 ignores ``__metaclass__`` attribute, use ``class Foo(metaclass=BarMeta)`` for Python 3 or use ``six`` library (https://pythonhosted.org/six/#six.with_metaclass) for cross-version compatibility. Secondly, in Py 3.x ``map`` returns genarator instead of list.

[2016-02-23 19:36] faif commented on #117
@ar4s Thanks for the tips. Feel free to fix it if you feel like :)

[2016-03-06 14:46] fkromer opened #127 "publish_subscribe.py - Method missing?"
The example does not make use of the method Provider.unsubscribe().

I expected that there would be a "wrapping" method like Subscriber.unsubscribe() for removing itself from the Provider (compare: Subscriber.subscribe() for appending itself to the Provider)?

[See draft for publish_subscribe.py tests, line 24](https://github.com/fkromer/python-patterns/blob/test_publish_subscribe/test_publish_sub

[2016-03-06 18:25] faif commented on #127
Good idea. Feel free to add the `unsubscribe` wrapper to `Subscriber` and I'll merge it

[2016-03-06 18:43] fkromer commented on #127
I added the wrapper method and wrote some tests #128

[2016-03-06 18:46] faif commented on #127
Thanks :+1:

[2016-03-06 18:46] #127 closed

[2016-03-06 18:50] fkromer commented on #127
My pleasure!

[2016-04-05 06:41] harshit298 opened #134 "Source of these patterns"
Are the concepts portrayed only from GOF's book on design patterns, or is there any other source also used?

[2016-04-05 17:12] fkromer commented on #134
Some examples reference an url somewhere in a comment. Many examples are from @faif (aka Sakis Kasampalis in older commits) like proxy.py, just look into the (commit) history of a file. If you are lucky you can get further info about the inital source from the initial commiters...

[2016-04-05 17:15] faif commented on #134
@harshit298 The case is as described by @fkromer, so indeed GOF is not by any means the unique reference (although not excluded when relevant)

[2016-04-09 19:08] #134 closed

[2016-05-04 13:35] Fajkowsky opened #140 "User new style classes"
https://www.python.org/doc/newstyle/

[2016-05-04 17:13] faif commented on #140
Hi,

Which examples are not using new style classes? Feel free to modify them and create a pull request

[2016-05-16 10:02] #140 closed

[2016-05-17 15:39] yarikoptic opened #143 "Needs a COPYRIGHT/LICENSE file"
I haven't checked if any of the examples is simply completely copied from the web, when it would need to retain original copyright/license notice, or all of them could be claimed to be owned by contributors to this repository, but the point is that there should some clear statement on copyright/licenses for the files and possibly for the collection as a whole as well.

[2016-05-17 19:02] yarikoptic commented on #117
For now I have just "disabled" it in https://github.com/faif/python-patterns/pull/144/commits/393a81f0daa3e55a060015d72f13fa6273ae289a  which is a part of #144 to straighten all the testing

[2016-05-18 16:34] faif commented on #117
Hi,

Thanks for your contributions. Sorry for not taking any actions yet but I'm ill. I will check everything after recovering.

Kind regards,
Sakis

[2016-05-21 18:49] faif commented on #143
Most files include a reference to the original source. If there's nothing it most likely means that I forgot to add the reference so it's good if we can still do that

[2016-08-10 01:03] jxskiss opened #149 "The get_registry method in registry pattern not work with python2.7"
The get_registry method defined in RegistryHolder metaclass does not work in BaseRegisteredClass or ClassRegistree.
I tried to define it in class BaseRegisteredClass, and it worked, but I am still confusing about methods defined in metaclass :)<

[2016-08-10 08:39] pchomik opened #150 "Wrong example for decorator pattern"
Hello,

Based on my materials decorator pattern should be implemented differently. Decorator pattern is not about python decorator or how to change implementation by using python decorator syntax but how to change object's behavior by wrapping it by another.
I found one example for python:  https://wiki.python.org/moin/DecoratorPattern
I don't know if you have access but this is second material (n

[2016-08-10 09:41] chfw commented on #149
What's more, get_registry() is not used in the example, plus REGISTRY is already a dict why dict(REGISTRY) again. Hence it is redundant.

[2016-08-15 12:26] yarikoptic commented on #143
Reference is not a copyright/license statement.
Imho issue wasnt addressed - users would still have no clue after cloning this repo either they could reuse the code from it or not
Just my 1c

[2016-08-15 12:31] fkromer commented on #143
I do agree with @yarikoptic

[2016-08-15 13:18] csaez commented on #143
Really? I mean, these are simple snippets showing design patterns for learning purposes, none of this code is usable as it is on a production environment... do we really need to license this?

[2016-08-15 13:23] faif commented on #143
@csaez That's exactly my thought. In general it's not a good practice to copy/paste blindly and using  such code in production. But let's see what @yarikoptic and @fkromer think :)

[2016-08-15 13:30] fkromer commented on #143
If one distributes code under a license (e.g. [one of these common open source licenses](http://choosealicense.com/licenses/)) it is clearly stated if it may be used commercially and if so under what conditions. But if there is not any licensing I do not know what licensing is applied "implicitly". However one should at least check if the referenced sources of the code state some licensing informa

[2016-08-16 02:35] yarikoptic commented on #143
There are multiple aspects here
1. as @fkromer pointed out, you cannot copy/paste (i.e. use directly) code which comes without license terms
2. many snippets probably were originally released under some license which mandates (all MIT, BSD, etc...) to maintain copyright/license statement associated with the code, so just copy/pasting it here without maintaining copyright/license statement might al

[2016-08-16 08:35] chfw commented on #143
for your information, here is a [non-lawer's view on open licenses on pycon 2016](https://www.youtube.com/watch?v=9kGrKBOytYM)

[2016-09-16 13:43] jxskiss commented on #149
@chfw REGISTRY and dict(REGISTRY) is different, by returning REGISTRY directly, it is a reference to the REGISTRY of the root RegistryHolder.REGISTRY, it can be modified, but by returning dict(REGISTRY), a copy of the REGISTRY is generated, you can not modify the root REGISTRY object, it is safe and recommended.

[2016-09-21 05:38] Honzin opened #154 "Design Pattern Blackboard"
Can you add pattern blackboard? I cannot find this pattern in python on the internet.
Here is description and Java code.  It would be very usefull make it easier.
https://en.wikipedia.org/wiki/Blackboard_(design_pattern)
Thank you.

P.S. If I add this request on bad place I am very sorry. I am new here.

[2016-09-30 17:28] LeMeteore commented on #150
I agree with @pchomik, now what should be done? Write another example? Copy paste the example from wiki.python.org?

[2016-10-09 20:17] faif commented on #154
Hi,

If you think that the pattern is useful feel free to add an example and I'll approve it.

[2016-10-09 20:22] #150 closed

[2016-10-28 12:14] duboviy commented on #154
I've added following pull request:
https://github.com/faif/python-patterns/pull/157

@faif could you please have a quick look on this issue?

[2016-10-28 17:06] fkromer opened #158 "Python Patterns Organization"
Hi @faif, what do you think about to creating a GitHub organization for a central place of python pattern related stuff? I have a lot of python pattern example references to books [here (paste "python" in the search field)](https://eswp3.readthedocs.io/en/master/) which make more sense in a more "python oriented" context. But I think these book references would "waste" your repository. But they wo

[2016-10-28 18:14] faif commented on #154
@duboviy Done, thanks 👍

[2016-10-28 18:14] #154 closed

[2016-10-28 18:15] faif commented on #158
So what would be the purpose of the GitHub organization and how it would like? I'm not familiar with the concept so it would be useful if you can point me to some examples.

[2016-10-28 18:21] fkromer commented on #158
There are some [GitHub pages about organizations](https://help.github.com/articles/about-organizations/). In short it is also free, but offers a lot posiblilities to manage maintainenance across organization members and stuff like that. I moved all my "generic pattern language" related repos into some [pattern language organization](https://github.com/pattern-languages) some days ago... just have

[2016-10-28 18:25] faif commented on #158
In that case it looks like a good idea, since it will be complementary to the repository. If you want to start it go ahead and I'll be happy to link it in the README 👍

[2016-10-28 18:27] fkromer commented on #158
Alright. It will take just a few minutes...

[2016-10-28 18:38] fkromer commented on #158
Here we go: [Python Pattern Language](https://github.com/python-pattern-language)

I have added you as "owner" organization member. I think you should have [the related priviledges...](https://help.github.com/articles/permission-levels-for-an-organization/)

[2016-10-28 18:56] fkromer commented on #158
Because your repo has been forked by other github users it seems that they would have to [adjust their remote paths](https://help.github.com/articles/about-repository-transfers/) if you would add your repo to the organization. Think about it...

[2016-10-31 09:55] Jonwing opened #159 "typo in hsm.py"
hierachrical --> hierarchical

[2016-10-31 18:58] faif commented on #159
Hi @Jonwing,

Feel free to fix it and I'll merge the change

[2016-11-05 15:11] duboviy commented on #117
I've added following pull request:
#161

@faif could you please have a quick look on this issue?

[2016-11-05 16:39] faif commented on #117
Although I would prefer to avoid the extra module (six) dependency, it is a solution so thanks @duboviy 👍

[2016-11-05 16:39] #117 closed

[2016-11-05 17:55] duboviy commented on #117
Fully agree with @faif that in current project it would be much better to not depend on third party packages.

So if you @faif would like, I'll create a pull request with removing six dependency and using some kind of workaround like this function instead of using six module:

[code]

[2016-11-05 18:12] faif commented on #117
@duboviy Sure, go ahead

[2016-11-05 19:38] duboviy commented on #117
I've added following pull request:
#162

@faif, I'm very sorry to disturb you
please, kindly ask you to review this change ;)

[2016-11-05 20:50] faif commented on #117
@duboviy Thanks. No need to apologise for your useful contributions 👍

[2016-11-08 01:53] supritashankar opened #163 "Singleton Pattern"
I want to create a simple singleton pattern.

Whose code looks something like this.

    class Singleton(object):
      _instance = None
      def __new__(self):
        if not self._instance:
          self._instance = super(Singleton, self).__new__(self)
          self.num = 10
        return self._instance

    x = Singleton()
    print x.num #10
    x.num = 20
    z = MyClass()
    print z.num

[2016-11-08 12:26] fkromer commented on #163
Hi @supritashankar, one could consider [some book examples about different singleton variants and implementations](https://github.com/python-pattern-language/python-pattern-references/blob/master/design_patterns/singleton_pattern.rst).

[2016-11-08 22:48] supritashankar commented on #163
Thank you @fkromer Closing the issue

[2016-11-08 22:48] #163 closed

[2016-12-05 10:09] bonesmccoy opened #165 "repository structure"
Hello,
I found this repository very useful.
For improve readability it would be nice to structure this repository in modules/ folder (creational, structural).

What do you think about it?

[2016-12-05 19:29] fkromer commented on #165
@bonesmccoy When I was setting up some private knowledge management systems (Typo3, etc.) I discovered that a folder structure can not "replace" the funcitonality of tagging/categorization. As patterns can be categorized differently in edition (e.g. [according to the level of abstraction](https://eswp3.readthedocs.io/en/master/design_patterns.html#categorization-of-design-patterns)) I would not re

[2016-12-06 08:32] faif commented on #165
Indeed there are different way of categorising the patterns but following the "intend of optimisation" might be a good idea, since most people are used to that because of the GoF book

[2016-12-07 16:48] bonesmccoy commented on #165
The reason behind my suggestion is because here we have a repository aiming to teach design patterns in python by examples and in the README each pattern is under a category so It would be more natural as a learner look for a source of a pattern inside a category-folder name

[2016-12-24 21:05] #159 closed

[2016-12-24 21:11] #149 closed

[2017-01-02 18:51] duboviy commented on #165
guys, sorry to disturb, could you please have a quick look on this [pull request](https://github.com/faif/python-patterns/pull/166)?

[2017-01-04 19:44] faif commented on #165
Thanks to the work of @duboviy I believe that we have a better structure

[2017-01-04 19:44] #165 closed

[2017-01-10 22:41] coolnay309 opened #171 "__getattr__ usage in some Classes"
Not so much an issue or a bug, but I noticed that under some __getattr__ usages for eg: https://github.com/faif/python-patterns/blob/master/structural/composite.py#L46

`if name in self`

But I think it is not necessary. Accessing `self.name` or `getattr(self, 'name')` first checks in `self.__dict__` by default and only then goes into `__getattr__()` for an item that was not in self dict.
Unless I

[2017-01-11 19:09] faif commented on #171
Good proposal. If you have the time go ahead and make the change yourself. You are more than welcome to submit a pull request 👍

[2017-01-30 03:36] RoshanPAN opened #177 "The factory method pattern here is actually simple factory pattern"
The factory method pattern here is actually simple factory pattern.

[2017-02-05 11:34] faif commented on #177
So, what's the issue here?

[2017-02-05 16:17] RoshanPAN commented on #177
In my opinion, Abstract Factory method is used when,  for example, we have several of classes (Dog, Cat, Mouse). Within each class, we have the blue dog, black dog, blue cat, black cat, blue mouse, black mouse.  And also, the blue ones are used together, the black ones are used together.
In this case, using abstract factory would help us to use the "group" inside factory, and get the group of obje

[2017-02-06 21:05] faif commented on #177
Yes, I think that's a terminology different. Usually the distinction is between the Factory Method (or Simple Factory or just Factory) and the Abstract Factory (group of factories). I'll leave it as is for now.

[2017-02-06 21:05] #177 closed

[2017-02-20 21:38] jonathan-s opened #182 "Mediator link is dead"
The link on the following line is dead. It would be good to get some context for this.
https://github.com/faif/python-patterns/blob/master/behavioral/mediator.py#L3

[2017-02-21 18:30] faif commented on #182
Fixed using the wayback machine

[2017-02-21 18:30] #182 closed

[2017-03-05 19:33] jalanb commented on #143
What is needed for a full resolution of this issue is to scan the repo for all separate instances of copied text, try to determine where each originated, and check any original licensing. Only after that scan can an appropriate license be considered for the project. Such scans are straightforward given the [right tools](http://alternativeto.net/software/protex/).

If there is no obvious licensing

[2017-03-30 20:19] archatas opened #184 "Short descriptions"
It would be useful to have some more detailed descriptions for each pattern. I would put them in the comments above the code. The main questions would be:

- What the pattern is?
- What the current example does?
- Where can the pattern be used practically (or is used in known open-source projects)?

Some of the patterns have comments or are obvious, but not all of them. Also, I think, that people

[2017-04-02 11:53] fkromer commented on #184
I referenced some pattern examples like e.g. [Singleton](https://fkromer.github.io/python-pattern-references/design/#singleton) from different [python-specific books](https://fkromer.github.io/python-pattern-references/bibliography/) in one of my projects. For some embedded software specific patterns I used the common structuring of pattern descriptions (context/when?, problem/why?, forces/what to

[2017-04-02 19:46] fkromer opened #185 "Design for Testability Patterns"
I would like to port the "Design for Testability" pattern examples from [xUnit Test Patterns: Refactoring Test Code](https://www.amazon.com/xUnit-Test-Patterns-Refactoring-Code/dp/0131495054) (the patterns of this category are actually no test code but production code patterns) which are in Java and VB to Python. Anyone interested in joining...

Short and eventually outdated descriptions of the pa

[2017-04-03 18:19] faif commented on #184
I find the reference of @fkromer a good start. @archatas do you think adding links to his examples suffices?

[2017-04-03 21:39] archatas commented on #184
Yes, these seem quite helpful: https://fkromer.github.io/python-pattern-references/design/

[2017-04-04 19:09] faif commented on #184
Good. Feel free to do it if you want and I'll merge it happily :)

[2017-04-04 20:36] fkromer commented on #185
[pull request "constructor injection"](https://github.com/faif/python-patterns/pull/186)

[2017-04-05 18:14] faif commented on #158
Closing the issue since the organization page is no longer valid

[2017-04-05 18:14] #158 closed

[2017-04-05 23:31] archatas commented on #184
Good idea :)
I just have to finish some project I am working on at first.

[2017-04-15 16:18] faif commented on #185
Effort already started and merged thus closing the issue

[2017-04-15 16:18] #185 closed

[2017-06-13 17:51] faif commented on #184
@mshcruz Started working on that and he is welcoming suggestions. Feel free to give them 👍

[2017-07-03 06:53] zafartahirov commented on #143
If you don't want to have a license, [you don't have to](https://choosealicense.com/no-license/). Also, according to GitHub's Terms of Service, you allow others to view, fork, and use the code here.

However, there is a caveat here: From a user perspective, when I see no license, **I am assuming there is no explicit permission for me to modify and/or distribute the code**. In such situations, I wo

[2017-08-19 19:48] bjd2385 opened #208 "Updating the source to Python 3?"
Just a quick comment--looking over the source, do you think it'd be a good idea to update to Python 3, e.g. using type annotations and Python 3 syntax?

[2017-08-19 19:51] pylang commented on #208
+1 Python 2/3 compliant code
-1 Annotations (I don't think it's necessary at the moment)

[2017-08-20 16:16] faif commented on #208
I second @pylang. Python 2/3 compatibility is more important than type annotations for this project

[2017-09-15 18:17] brettswift commented on #208
While we're on the topic of python 3,  I am finding a difference in behaviour running the registry example.
https://github.com/faif/python-patterns/blob/master/behavioral/registry.py

With python 3.6 I do not see the `ClassRegistree` printed.  Copied the code verbatim and ran it.

[2017-09-25 12:30] jefffffrey commented on #171
The example of the composite pattern had been fully replaced, it's time to close the issue.

[2017-09-25 16:54] faif commented on #171
@jefffffrey Good point, thanks

[2017-09-25 16:54] #171 closed

[2017-12-07 18:03] egens commented on #208
In python 3 metaclass is added differently
[code]
instead of
[code]
https://stackoverflow.com/questions/5189232/how-to-auto-register-a-class-when-its-defined

[2018-02-06 18:35] #184 closed

[2018-03-04 17:45] krmanish opened #217 "Unicode and Python-3 compatibility"
I think we should use Python-3 compatible code for unicode.

Found [here](https://github.com/faif/python-patterns/blob/master/creational/lazy_evaluation.py#L76) and and all other places wherever required.

[2018-03-04 18:12] faif commented on #217
@krmanish I agree. Those u should go away :)

[2018-05-18 19:27] faif commented on #217
@sara-02 Good point, closing this ticket in favor of #208

[2018-05-18 19:27] #217 closed

[2018-06-07 08:12] GeorgiosGoniotakis opened #226 "Singleton example"
Hello there. I noticed that there is no example of the Singleton design pattern. However, I saw an example of Borg https://github.com/faif/python-patterns/blob/master/creational/borg.py I was thinking of adding that. Any thoughts?

[2018-06-07 09:22] fkromer commented on #226
I collected some references to implementation variants of the singleton pattern in Python some while ago: [python-pattern-reference - singleton pattern](https://fkromer.github.io/python-pattern-references/design/#singleton). In the meanwhile new books came out which could come with new, different implementations (I am quite sure about it but I had no time to look into it in detail so far).

[2018-06-08 18:32] faif commented on #226
@GeorgiosGoniotakis In Python there two recommended ways of implementing a singleton:

- Use a module (by definition can only be imported onced)
- Use borg

Since those singleton implementations are considered more of an antipattern I've resisted adding them

[2018-06-11 20:38] foxyblue opened #228 "Why are TL;DR suffixed with 80?"
[I have just continued as per the other examples](https://github.com/faif/python-patterns/blob/master/behavioral/chain.py#L18), but I don't know why?

[2018-06-16 20:52] #226 closed

[2018-07-03 10:24] nowaman opened #233 "borg.py singleton is not really singleton"
borg singleton method is not really singleton,it is just a shared state to all instances of the class,the better way is processing the __new__ method of the class.

[2018-07-04 18:03] faif commented on #233
"Better" is subjective. If you think that singleton is better for your needs feel free to use it. I am still not planning to add it in this repo because I do not want to encourage its usage.

See also: http://code.activestate.com/recipes/66531/

[2018-07-06 20:38] #233 closed

[2018-08-03 02:01] Freakwill opened #238 "Generate patterns automatically"
Can we generate patterns automatically? Take strategy pattern as an example, we can generate codes of the pattern with the names of strategies and class employing them

[2018-08-03 16:13] faif commented on #238
Hi,

You could do that, but I don't think that it adds value in this project, since it is used for educational purposes.

[2018-08-20 05:37] sak96 opened #239 "[question]should the borg design pattern override __deepcopy__() ?"
- borg as i see it is equivalent of singleton for python
- but it does not handle deepcopy very well
- shouldn't there be a \_\_deepcopy\_\_ method?
- correct me if i am wrong

[2018-09-29 16:17] fkromer opened #244 "[Question] Functional Programming Patterns"
Would you accept PRs about functional programming patterns @faif ? Would probably imply some project restructuring (e.g. putting dirs "behavioral" and "structural" into "oop").

[2018-09-29 16:54] faif commented on #244
I'm a big fan of fp but although you can do it in Python, it is not always considered idiomatic. It's not a bad idea but I'm not sure if it's good to put it in this repo. I'd like to hear some thoughts from the rest of the community.

[2018-10-04 11:17] Scot3004 opened #245 "Add Automation testing pattern"
A common pattern is page object model and loadable component, I have a source code with them

[2018-10-04 11:45] fkromer commented on #245
That are Design For Testability patterns, right? You can consider to Placebo IT into direcory `dft`.

[2018-10-12 04:54] Scot3004 commented on #245
yes, i'll do it

[2018-11-15 21:59] tomschr opened #247 "Simplification of structural/mvc.py"
The code from [structural/mvc.py](https://github.com/faif/python-patterns/blob/master/structural/mvc.py#L29-L36) can be replaced by a more concise and simpler version:

[code]

[2018-11-21 13:10] arcturus140 opened #248 "[question] strategy pattern class methods"
hi, thank you for this amazing repository. I don't understand why the strategy pattern is not an abstract class, i.e., using `@abc.abstractmethod`. Was it done this way to provide a default strategy?

[2018-11-21 18:43] faif commented on #248
Hi,

The simple answer is because you don't have to do it. Python gives you both options. a) Use the abc module to define a formal interface. b) Be informal and rely on duck-typing. The first option might help you to discover problems earlier (e.g. Pycharm will warn you if you don't conform to an interface. The second option gives you more flexibility when experimenting/prototyping

[2018-11-21 18:45] faif commented on #247
Hi,

Thanks for the suggestion. Feel free to submit a pull request and I happily approve it.

[2018-11-21 18:46] #238 closed

[2018-11-23 20:48] #247 closed

[2018-11-23 20:49] #248 closed

[2018-12-11 02:22] geeknonerd opened #250 "assert error? (cm1 == cm2) is True, assert True != cm3, this is useless."
https://github.com/faif/python-patterns/blob/7739094abf3ea9cbd993749c98f2bf0adaa1a805/structural/flyweight.py#L122-L123

[2018-12-11 18:32] faif commented on #250
Hi,

Thanks for pointing this out. Can you submit a pull request with the fix? I'll be glad to merge it

[2018-12-27 15:41] gyermolenko opened #252 "Chain pattern is overcomplicated"
Hi.
[Chain pattern](https://github.com/faif/python-patterns/blob/master/behavioral/chain.py) seems overcomplicated (imho).

The file has more or less standard implementation with classes with handlers (`client1 = Client()`) but also adds comparison with implementation with coroutines (`client2 = ClientCoroutine()`).
At http://www.dabeaz.com/coroutines/ (docstring description link) I couldn't find

[2018-12-27 18:52] faif commented on #252
Hi,

I agree with your comments, a simpler example would be easier to understand. Feel free to add one and I'll gladly merge it.

[2018-12-27 19:17] gyermolenko commented on #252
ok, I'll make PR for further discussion

[2018-12-28 14:37] gyermolenko opened #254 "Template pattern functional implementation looks weird"
I find current implementation a bit strange.
Usually template has obligatory and customizable steps, structured in some kind of base algorithm.

I think it would be better (instead of `def make_template` factory) to show just two concrete algorithms based on same base template. One will overwrite some customizable step, another will just skip it.

I also tried to write it using functions and it ge

[2018-12-29 20:53] #254 closed

[2019-01-02 19:05] #252 closed

[2019-01-04 07:55] gyermolenko opened #258 "[Infrastructure] Testing outputs"
**update** on idea of testing outputs as docstrings (e.g. with `python -m doctest`):
I couldn't find easy way to generate docstrings for `def main()`

By "testing outputs" I mean to compare script output with `### OUTPUT ###` section at the bottom of the file.
Structuring scripts like that:
[code]

allows imports of `main` in tests to evaluate and compare outputs.

It would also be more convenient

[2019-01-05 13:01] gyermolenko opened #259 "Move from nose to pytest for testing"
**Motivation:**
- `pytest` is stable, extensible, popular etc etc
- last `nose` release was on Jun 2, 2015

**Notes:**
- `pytest` runs `unittest.TestCase` wo modifications
- `pytest` is also available in travis env by default

@faif (or other maintainers) what do you think?

[2019-01-08 20:42] faif commented on #259
I think that it's a good idea. I like `pytest` and it seems that this is the current goto platform for unit testing in Python

[2019-01-09 17:42] gyermolenko commented on #208
More than a year since last comment here. Maybe it's time to remember about the topic? :)

Considering python2's EOL I would like to see python3-only code.
-1 for type annotations.

[2019-01-09 18:47] fkromer commented on #208
There are 11 months left until [Python2 EOL](https://pythonclock.org) :wink: It's probably helpful for some people still working with Python2 code.

-1 for type annotations.

[2019-01-11 14:20] gyermolenko commented on #258
Here are example script/test files

[code]

[code]

@faif  Hi. Can you please share your thoughts on this?

[2019-01-11 20:29] #259 closed

[2019-01-11 20:48] faif commented on #258
Hi,

I like this idea since it makes the outputs unit-testable.

[2019-01-11 20:50] faif commented on #208
Agree with @fkromer Let's revisit this after the Python 2 EOL

[2019-01-13 13:16] gyermolenko opened #264 "Project folder structure"
Can I suggest to change project structure to this?
[code]
It is more common among python packages.
It would be possible to run commands like `pytest patterns` or `flake8 patterns`

[2019-01-15 19:22] #264 closed

[2019-01-17 13:29] gyermolenko opened #272 "Mediator pattern is overcomplicated"
Looking through [mediator pattern example](https://github.com/faif/python-patterns/blob/master/patterns/behavioral/mediator.py) I find it overcomplicated.

What I could get from it, in short:
- It has TestManager class in a role of Mediator. It manages TestCase, Reporting, DB interactions
- during TestCase setup - DB insert operation is executed. Result is randomized and can end successfully or re

[2019-01-17 19:47] faif commented on #272
Good suggestion. Go ahead, but please replace camel case method names with more Pythonic names (e.g. `display_message`)

[2019-02-06 21:05] Dalvenjia opened #275 "behavioral Registry keeps direct references of instances preventing garbage collection"
By keeping a direct reference of the instances as the values in the registry dict the garbage collector will never dispose off of otherwise unreferenced instances, you can use weak references to prevent this, and maybe add some scheduled cleaning of deleted instances.

I can make a PR if you want

[2019-02-06 21:08] Dalvenjia commented on #275
My bad, the class objects are being saved, not instances... closing this

[2019-02-06 21:08] #275 closed

[2019-02-07 14:55] gyermolenko opened #277 "[Infrastructure] Code coverage"
I don't think code coverage is important to extent of running `run_all.sh` script.

I would like to
- remove `run_all.sh`
- collect coverage for only one python branch (e.g. 3.7) (although it is possible to do `coverage run -p` and then `coverage combine`)

[2019-02-07 17:13] gyermolenko commented on #244
+1 for functional patterns here.

@fkromer had you something particular in mind?
We should probably make a list to briefly discuss it before actually implementing(or copying).

I'll start proposing  "pipeline" candidate

[2019-02-07 17:14] gyermolenko commented on #228
I see no other explanation.
Maybe the mystery (and this issue) is resolved? :)

[2019-02-07 17:16] gyermolenko opened #278 "Add Data Access Object (DAO), Data Transfer Object (DTO) patterns?"

[2019-02-07 17:29] gyermolenko opened #279 "[suggestion] Listing anti-patterns in README"
I think listing anti-patterns with some basic reasoning about "why not" is a good idea.

Example - singleton. Although #256 has "won't fix" label
- it is in PRs section, and people (if searching history at all) are searching issues first.
- it was misspelled, Singelton instead of Singleton, therefore impossible to find

Listing most popular anti-patterns (without actual implementation) should allo

[2019-02-07 22:02] fkromer commented on #244
I had the patterns addressed in S. Lott's "Functional Python Programming" in mind. In case you want to look into the book pay attention before doing so: There is a section about patterns and some references in the index but the majority of examples is spread over the whole book. It makes sense to depend on some Python package(s) which implement boilerplate required to implement the actual patterns

[2019-02-08 13:24] gyermolenko commented on #239
hi @sak96
You are correct in notion that Borg does not handle deepcopy very well. Neither it does for shallow copy (`copy.copy(..)`).
But I don't think its his responsibility.
1. "the singleton pattern is a software design pattern that restricts the **instantiation** of a class to one." ([link](https://en.wikipedia.org/wiki/Singleton_pattern))
2. You can work around that: `In order for a class to

[2019-02-08 13:31] sak96 commented on #239
yes. I agree.
After reading more about data structure I would say sometime deep copy or copy may not be necessary. it is more to understand the essence of the pattern. back then when I had just started I felt that this was something which was worth thinking about. but now I look back and feel that most of the time you have to tweak a little bit for a pattern to be helpful.
Any how thanks for resol

[2019-02-08 13:34] #239 closed

[2019-02-08 13:42] gyermolenko commented on #239
great!
"but now I look back and feel that most of the time you have to tweak a little bit for a pattern to be helpful" - well said. Fits my experience as well.

[2019-02-08 21:35] #272 closed

[2019-02-08 21:38] faif commented on #279
Indeed this case save us time. Instead of pointing people to the closed issues that are not easily visible, they will hopefully read the README and find some answers to their questions.

[2019-02-08 21:39] faif commented on #278
Can you provide some explanation and why/how will these patterns be useful for this repo?

[2019-02-08 21:41] faif commented on #277
What's the reasoning behind running it only for a specific Python version (e.g. 3.7)?

[2019-02-08 22:09] gyermolenko commented on #277
a bit simpler, I guess. But combining is possible, so nevermind.
My biggest concern here is - why run_all.sh at all?

[2019-02-09 23:29] faif commented on #277
I think that the basic idea was to able to run all scripts with one command. Coverage came later. So if we can simplify it by removing the coverage part since it's handled elsewhere, fine by me.

[2019-02-10 11:47] fkromer commented on #244
Another higher level candidate: [Parallel Functional Pipeline Pattern](https://freecontent.manning.com/the-parallel-functional-pipeline-pattern/)

[2019-02-11 15:29] gyermolenko commented on #208
There are a couple of examples with `__metaclass__` syntax (registry, chain of responsibility, some more..).
1. Syntax for Python 2 and 3 is different
2. Being run with different python versions scripts produce different output .
3. There is no way to write them in compatible way.
I don't like workaround with `six` lib because
    - any dependency is unwanted
    -  examples will lose both Python2

[2019-02-12 11:48] gyermolenko commented on #258
hey @faif
I was thinking a lot about it lately and I return to doctests again and again.
Here is a basic example of before-after of this idea:

CURRENT (input and then output)
[code]

PROPOSED HERE (interleaved)

[code]

I think  it is much-much easier to read example with interleaved input/output.
I took short and simple example and I do understand that some difficulties can occur, but I believe

[2019-02-12 20:48] faif commented on #208
@gyermolenko How about using six until the Python 2 EOL? After that, we can get rid of it and keep only the Python 3 functionality

[2019-02-13 09:37] gyermolenko commented on #208
My issue with `six` is that code becomes neither py2 nor py3.
So whatever user is looking for, if he doesn't use `six` himself already, - he will need to modify script.

Examples below:

[code]

[2019-02-13 21:31] faif commented on #258
I'm not very familiar with doctest so I'm not sure if it can replace all current functionality. You can pick a more complex use case and give it a try. I'm generally positive with the proposal.

[2019-02-13 21:32] faif commented on #208
The maybe it's better to split those files to Python 2/3 versions until the Python 2 EOL

[2019-02-14 14:33] gyermolenko commented on #258
I created #283 for illustration purposes.

Here are some things to point out:
1. Doctest is a bit harder to write than "usual code" - because of indentation, ">>>/ ..." markers etc. But in case with most patterns it is not an issue at all.
2. there are some things to remember when writing doctests, described in [official docs](https://docs.python.org/3.7/library/doctest.html#warnings) .
Here are t

[2019-04-08 20:23] ochran commented on #278
I think having a dao pattern here would be beneficial, knowing how to inherit from a MySQLDAO or FileDAO base class for example.

Useful to see the abstraction layer a dao pattern provides

[2019-04-24 01:38] sheiun opened #295 "Missing Implementor and Abstraction in Bridge Pattern"
The code <https://github.com/faif/python-patterns/blob/master/patterns/structural/bridge.py>
different from the source <https://en.wikibooks.org/wiki/Computer_Science_Design_Patterns/Bridge#Python>

The Bridge Pattern's UML

![image](https://user-images.githubusercontent.com/36428458/56626415-2b49b100-6674-11e9-9a90-ce16eac55ac7.png)

[2019-04-24 09:26] gyermolenko commented on #295
hi @sheiun , thanks for the issue.

1. In terms of the pattern: Abstraction/interface delegates the work to the implementation/platform.
It is not about interfaces or abstract classes in any particular programming language.

2. As I see it - it is not always necessary to create python ABC classes to emulate something like interface from other languages.

TLDR: don't see a problem here.

Thoughts?

[2019-04-24 17:54] faif commented on #295
One of the benefits of duck typing is that it doesn't force you to define interfaces for everything. You can still do it if you want with a module like `abc` as mentioned by @gyermolenko, but it's not mandatory. I also find the current implementation fine.

[2019-05-06 19:27] ammarnajjar commented on #228
I bumped into this Issue by chance, I allowed myself to drop some thoughts as well.
This question is probably relates to #213 where `*TL;DR80` is added in most comment sections.

I could understand the TLDR part, but the 80 part I also could not understand.
I would suggest closing this issue by answering that unless @foxyblue has something against that :-)

[2019-05-06 19:32] ammarnajjar commented on #245
+1 for POM

what is the status of the progress on this issue if i may ask?

[2019-05-06 22:53] foxyblue commented on #228
I think we have come to some understanding that it has to do with an 80-character code line limit, but for this indication, to be stated after TL;DR, I have found no convention or practice that holds us against removing it.

For a line length of 80 to be stated in every file and not enforced by a linter seems archaic.

I'd like to turn this issue into a task which is resolved by removing all "80"

[2019-05-09 20:35] #295 closed

[2019-05-09 20:40] faif commented on #228
@foxyblue Please go ahead and do it. I agree with the proposal and generally the 80-character limit is not very useful for the modern monitors.

[2019-05-10 20:43] #228 closed

[2019-05-29 09:16] fkromer opened #298 "Corrupted git file history"
I am looking for a new employment right now and thought about letting people know about my contributions in this repository. Unfortunately this [PR](https://github.com/faif/python-patterns/commit/2e1f57c95cb1124bbe7a736b265343db3716a05b) corrupted the git file history. The project's contribution overview does not show contributions correctly anymore and it's also not possible to get the informatio

[2019-05-29 09:39] gyermolenko commented on #298
hi @fkromer , sorry to hear that my PR created inconveniences for someone.
It was tracked as `git rename` action, which is not a crime by my book.

Can you please try `git log --follow <filename>` command?
E.g. `git log --follow patterns/behavioral/catalog.py` shows history before catalog structure has changed.

[2019-05-29 10:22] fkromer commented on #298
@gyermolenko Thanks for this super fast response. Using `git log` on files like e.g. `git log --follow patterns/other/hsm/hsm.py` works. However my hope was that it is possible to restore the log information on the publicly accessible project site and in my account's contribution activites somehow. Good to know that GitHub's user contribution statistics are that unreliable. The unofficial ticket f

[2019-05-29 10:22] #298 closed

[2019-05-29 11:43] gyermolenko commented on #298
I've just checked, and if you copy repo from github to gitlab - their file history follows git renames.
As an option - to put gitlab link with disclaimer into resume so it can be used simply like `alternative git web ui with more representative file history`

[2019-05-31 09:19] fkromer commented on #298
The GitHub [repo pull mirrored into GitLab](https://gitlab.com/fkromer/python-patterns) displays [project contributions](https://gitlab.com/fkromer/python-patterns/graphs/master) and [git file historys](https://gitlab.com/fkromer/python-patterns/commits/master/patterns/other/hsm/hsm.py) correctly.

[2019-06-01 14:20] Scot3004 commented on #245
I'm making updates, in this repo is that i'm doing https://github.com/Scot3004/selenium_python, the next step is to integrate to the docs here

[2019-07-15 07:38] daidai21 opened #300 "can you show your pycallgraph code? thank you."

[2019-07-18 19:44] faif commented on #300
Hi. What do you actually mean?

[2019-07-19 07:03] daidai21 commented on #300
Hi. I want to find a way to generate images like those in the viz folder.
Then I already find this method yesterday. thank you.

[2019-07-31 18:43] #300 closed

[2019-10-29 08:38] gyermolenko commented on #208
hey @faif
Not much time left till EOL.
I would like to clean some py2 specific things up if you don't mind.

So maybe it makes sense to create git tag or release and proceed with py3-only version in master?
Other options (which I don't like) would be:
- proceed with maintaining 2/3 compatible code
- maintain separate branches for 2 and 3

And with git tag later someone can switch from github ui or

[2019-10-29 09:30] faif commented on #208
I like the tag solution. That way anyone still  interested in the Python 2 solutions can access them. Let’s cleanup master to use Python 3 only and have a reference to the tag.

[2019-10-29 09:39] gyermolenko commented on #208
I think only you can push new tags.

[2019-10-29 20:55] faif commented on #208
@gyermolenko I pushed a legacy tag that contains the current repo contents. Feel free to start cleaning up 👍

[2019-11-07 12:10] DDAK opened #310 "broken link"
Hi,

Issue: The link to the registry pattern is broken.
`https://github.com/faif/python-patterns/blob/master/patterns/behavioral/registry__py3.py`
`__py3` should be removed in the file name for the fix.

Thanks

[2019-11-07 12:14] gyermolenko commented on #310
Sorry. that was me who broke it. Will fix it (soon? :).

[2019-11-07 22:13] #310 closed

[2019-11-10 20:30] timgates42 opened #313 "Small typo in patterns/creational/pool.py"
Should read inside rather than insided.

[2019-11-12 20:20] #313 closed

[2020-01-14 08:52] gyermolenko commented on #208
the issue can be closed

[2020-01-14 09:00] gyermolenko commented on #277
To update on this issue:
- `run_all.sh` was removed
- since removal of py2 support full coverage can be done without combining reports per test environment

So only some simplifications in `tox.ini` are required to resolve the issue.

[2020-01-14 09:05] gyermolenko commented on #258
To update on this issue, what is left to do:
- there are only 8 files left with an old-style `### OUTPUT ###` (to be substituted with doctests)
- remove `append_output.sh`
- update `Output` section of readme

[2020-01-14 21:39] #208 closed

[2020-04-20 01:28] zhengtong0898 opened #324 "[question] does prototype pattern have necessary to be exist in python patterns?"
i can use copy.deepcopy() to copy a object in python,

does prototype pattern  have  necessary to be exist in python patterns?

[2020-04-22 10:06] gyermolenko commented on #324
I agree.
`copy.deepcopy` works for arbitrary objects and custom classes.
And if we would want to customise that - we can define `__deepcopy__` method (or `.clone()` just to make it as GoF describes)

Also couple of interesting thoughts here:
https://python-patterns.guide/gang-of-four/prototype/#the-prototype-pattern

[2020-04-22 16:52] faif commented on #324
I also agree. Feel free to add a pull request that replaces the current code with a `deepcopy` example

[2020-05-04 17:34] crypdick commented on #324
@faif in any case, shouldn't the existing example be using copy.deepcopy() in [the clone method](https://github.com/faif/python-patterns/blob/master/patterns/creational/prototype.py#L32)?

[2020-05-04 17:36] faif commented on #324
@crypdick If there are no behaviour differences yes

[2020-06-18 04:47] rednafi opened #325 "Gradually add type hints to the examples"
A few examples (like the **_delegation_** pattern) can be difficult to understand without **_type hints_**. Unless you want to keep backward compatibility with older Python versions, adding type hints can make the intents of the code snippets clearer.

[2020-06-18 19:09] faif commented on #325
That is a good suggestion. Backward compatibility is not extremely useful, since Python 2.x has reached EOL

[2020-06-18 21:06] rednafi commented on #325
Yeah, since you can add the type hints gradually, it shouldn't be problem to convert. I've already added type checking to the delegation pattern and sent a PR.

[2020-06-19 10:17] fkromer commented on #325
"Le roi est mort, vive le roi" :wink:

[2020-06-20 15:24] faif commented on #325
Closing it since the effort has already started. Thanks @rednafi

[2020-06-20 15:24] #325 closed

[2020-07-01 17:06] modasserbillah opened #333 "[Suggestion] Notebook version of the repo"
The way this repo is structured can be hard to read at times. Have you considered creating a jupyter notebook version of this repo?

Pros
- Better formatting of texts
- Code output can be easily shown
- The illustration images can be added on the same notebook

Overall it would be a nicer learning experience. I have created one example [here](https://github.com/modasserbillah/python-patterns-noteb

[2020-07-02 17:58] faif commented on #333
Hi. I like jupyter and I think that this is a good idea. When this repo was created jupyter was out of scope, but if you want to put some effort I encourage you 👍

[2020-07-03 06:36] fkromer commented on #333
In case someone wants to jump into this I'd recommend to deploy the notebooks with [binder](https://mybinder.org/).

[2020-07-03 13:31] modasserbillah commented on #333
Thanks for the feedback! I have started putting them into notebooks on my repo. Feel free to check them out and collaborate. I'll deploy with binder once I have a good number of them added.

[2020-07-03 16:45] modasserbillah commented on #3
I know it's closed but the borg pattern still sets the state during init and the issue pointed out by @jpic stands. [Reference](https://github.com/faif/python-patterns/blob/master/patterns/creational/borg.py#L40)

Am I missing something here?

[2020-07-03 18:33] faif commented on #3
Hi.

It does set a state during `init` but that is not required. The state is changed later anyway, and subclassing works as expected (the state is modified also for subclasses). What is your concern?

[2020-07-04 08:23] alanwuha commented on #258
I think we're almost done with substituting all files with doctests!

The only one left is for [abstract_factory.py](https://github.com/faif/python-patterns/blob/master/patterns/creational/abstract_factory.py) which is ambiguous due to its random output for the `shop = PetShop(random_animal)` test case. We could use doctest.ELLIPSIS to check for random outputs (i.e. `We have a lovely ...` and `It

[2020-07-04 08:57] modasserbillah commented on #3
My concern is when an instance of the subclass is instantiated, the state gets changed. In my opinion, that should not be the case. When a new instance is created, the state should not change unless explicitly changed. Here's the argument from Alex Martelli : https://learning.oreilly.com/library/view/python-cookbook/0596001673/ch05s23.html

[2020-07-04 11:28] faif commented on #3
I see your point. Setting the state in `__init__` was used as an example but indeed it might not give the right idea. Feel free to make the change and I'll merge it.

[2020-07-04 18:42] mpkocher commented on #244
Perhaps this repo would be a better place to centralize functional programming pattens and concepts in Python.

https://github.com/sfermigier/awesome-functional-python

[2020-07-05 15:42] gyermolenko commented on #258
@alanwuha have you seen https://github.com/faif/python-patterns/blob/master/patterns/other/blackboard.py#L124 ?

[2020-07-05 19:55] faif commented on #3
Fixed in #338

[2020-07-05 19:55] #3 closed

[2020-07-06 13:48] alanwuha commented on #258
@gyermolenko got it and on it, thanks for the tip!

[2020-07-15 15:01] keobox opened #341 "In graph_search there's a sub optimal algorithm for shortest path"
find_shortest_path can be done in linear time using BFS (Breadth First Search).
The original article mentioned in the comments in graph_serach.py is providing the code using BFS.

Also all paths can be implemented with a BFS or DFS (Depth First Search).
Here some examples in Java:
https://algs4.cs.princeton.edu/code/edu/princeton/cs/algs4/DepthFirstPaths.java.html
https://algs4.cs.princeton.edu/co

[2020-07-15 21:08] faif commented on #341
Feel free to open a pull request with improvements. I have my doubts about whether it's better to remove the algorithms examples from this repo, since they are not design pattern related.

[2020-08-01 16:11] coaxfiberOrig opened #346 "Fait/python-patterns"

[2020-08-01 16:16] coaxfiberOrig commented on #346
Apology. Created by mistake.

[2020-08-01 16:16] #346 closed

[2020-08-03 00:38] RaminCH opened #347 "python design patterns"

[2020-08-03 06:43] #347 closed

[2020-08-16 03:53] LCVcode commented on #341
I'll implement BFS in graph_search.py.  The current DFS solutions are good, and I will not remove them.  They'll get renamed to include "dfs" and I'll add some new methods.

[2020-08-19 18:09] LCVcode commented on #341
@faif, this issue was resolved with PR #350, which I made.  I'm new to GitHub, is there a way I could have connected that PR to this issue?

[2020-08-19 20:21] faif commented on #341
What you did looks fine, thanks :)

[2020-08-19 20:21] #341 closed

[2021-01-01 22:19] faif commented on #258
Can we close this @gyermolenko @alanwuha?

[2021-01-02 09:22] gyermolenko commented on #258
hey @faif  , happy holidays!
Only `abstract_factory.py` is left and @alanwuha wanted to work on it I believe
Then to remove `append_output.sh` and update `Output` section of readme.

[2021-01-14 10:13] cyan-T opened #366 "[question]Is the example of abstract factory pattern too simple?"
In my opinion, abstract factory serves to provide a series of objects, but in the example it just provides one product, which looks like factory method pattern. Is my understanding wrong?

[2021-01-17 19:07] faif commented on #366
Abstract factory doesn't have to provide a series of objects, but it can use more than one factories to create different types of objects that makes sense to group. Feel free to provide a more elaborate example if you think that it will make things more clear.

[2021-01-18 06:18] cyan-T commented on #366
Thanks.

[2021-01-19 02:25] chauvinhphuoc opened #367 "[Exception] the abstract factory pattern shows TypeError, please fix it!"
When I copy-paste the code from the abstract_factory.py and run it in the terminal, a TypeError exception  occurs

[2021-01-19 08:42] namelivia commented on #367
It works for me, could you please add more details about the error and the environment you used?

[2021-01-24 04:25] yhay81 opened #369 "observer.py imports typing.Protocol which is not in Python 3.7"
I got an error when I run `tox`
E   ImportError: cannot import name 'Protocol' from 'typing' (/Users/yhay81/.pyenv/versions/3.7.9/lib/python3.7/typing.py)

It is because observer.py import typing.Progocol and typing.Progocol is new in Python version 3.8.
https://docs.python.org/3/library/typing.html#typing.Protocol
(It is from #345)

I think this is one of a solution.
- Drop testing 3.7 in tox.
-

[2021-01-24 09:26] yhay81 commented on #324
I think prototype.py is wrong. This should work but Got nothing from last line instead of a-category.
[code]
This example does not copy all attributes.
I think restrict copy-part can useful in some cases but prototype pattern is originally should be like `create obj from obj by copying and updating`.

And, just `copy.deep` is not okay with prototype pattern because it just copy and we are not alwa

[2021-01-24 11:25] yhay81 opened #373 "Support for type hints"
Some files have type hints and  others do not.
I think writing type hints make it easier to understand the patterns.
I suggest to write type hints and if its okay, I will work some.

And there are two typing style now in python, so I would ask which is good, >=3.9 style or <3.9 style.
(mypy started to support for >=3.9 style just two days ago. https://mypy-lang.blogspot.com/2021/01/mypy-0800-relea

[2021-01-24 12:53] yhay81 commented on #324
I think the pythonic way to do what prototype pattern really wanted to do is use `types` and create class dinamically.
https://docs.python.org/ja/3/library/types.html

[2021-01-25 22:05] #324 closed

[2021-01-25 22:07] faif commented on #373
Hi. Another contributor started adding type hints that's why some files have hints and some not. Feel free to continue with that but let's stick to <3.9 for now.

[2021-01-25 22:12] #367 closed

[2021-01-25 22:12] #366 closed

[2021-01-26 00:36] yhay81 commented on #369
I dropped testing 3.7 in tox: #372
If it is okay that this repo do not support 3.7, I think this issue can be closed.

[2021-01-26 18:54] faif commented on #369
Yeah, that's fine. In general it's good to keep up with the latest minor version + 1 or more minor older versions, but we don't need to support all of them.

[2021-01-26 18:54] #369 closed

[2021-05-01 19:00] MarkRogansCrew commented on #278
how to put an id fr MySQL Type patterns

[2021-05-31 16:52] faif opened #375 "Linter errors"
From the output of `lint_python`:

Run black --check .
would reformat tests/behavioral/test_strategy.py
would reformat tests/behavioral/test_publish_subscribe.py
would reformat tests/structural/test_proxy.py
Oh no! 💥 💔 💥
3 files would be reformatted, 59 files would be left unchanged.
Error: Process completed with exit code 1.

[2021-06-11 09:59] qitianliang opened #376 "random seed does not take effect in doctest"
Thanks for your awesome works on the pythonic design pattern, I'm reviewing some strategies in the design patterns. However, I tried your first abstract_factory.py
`random. seed(1234)`  in the main function will not take effect in doctest random. choice(), and it returns fake random depend on machine time or some other kind of random parameter.
I tried to fix this problem by this

then you can get

[2021-06-12 17:41] faif commented on #376
Hi,

Please open a pull request so that we can get the fix in, and you get credit for your contribution :)

[2021-07-05 06:31] g-paras opened #377 "No return value expected"
https://github.com/faif/python-patterns/blob/5f47b07dbf2867b0b35866301573439b4e8e37ae/patterns/creational/prototype.py#L32-L38

According to type hint None type should be returned but obj of type `Prototype` is returned.

[2021-07-05 21:12] faif commented on #377
You are right, that was introduced in https://github.com/faif/python-patterns/commit/a12ad8e7dc00572ba09bcacddb4862cc8cbdba4d#diff-292e21ea71bfaa9c4ecf149a183f5080c973cf7b22bb080b7b520e5875476c0dR29. Feel free to submit a fix

[2021-07-06 22:00] #377 closed

[2021-07-07 18:19] #375 closed

[2021-07-11 08:32] KyryloKaralyus opened #380 "factory.py refers to dead link"
in a description of where the pattern is used, this link is used; it's dead though.
http://django.wikispaces.asu.edu/*NEW*+Django+Design+Patterns

[2021-07-17 21:05] faif commented on #380
Thanks for pointing that out. If you can find a relevant link feel free to create a pull request

[2022-01-02 09:51] loveJasmine opened #384 "what's the difference betwen builder.py and abstruct_factory.py"

[2022-01-02 12:32] faif commented on #384
They are two different ways of creating objects. A builder typically creates a complex object in multiple steps, and until the final `build`/`create` function is executed the object is incomplete

[2022-01-03 08:24] loveJasmine commented on #384
@faif  Thanks

Maybe you can write a little more like what's the difference btw those pattern, and where and how to utilize it in different scnerio

[2022-01-03 08:24] #384 closed

[2022-02-08 19:07] #380 closed

[2022-02-15 14:32] timhoffm commented on #333
[Sphinx gallery](https://sphinx-gallery.github.io/stable/index.html) might be worth a look:
- Inputs can be .py files or notebooks.
- It renders to a nice page (requires a sphinx setup)
- You can download the result as .py or notebook independent of the input format used.
- There's experimental Binder support.

[2022-03-02 11:08] yuninsik opened #389 "Hello?"
Hello, I wrote on the issue at the address of the tennis game made by Unity in Korea, but I didn't get a reply, so I'll leave it here. Can I share the project source based on the premise of tennis games? The following are the words left in the tennis game.

Hello. I found a tennis game project that you made with Unity in your GitHub in Korea. By the way, what version of Unity does the tennis game

[2022-03-03 21:26] #389 closed

[2022-05-02 10:35] SakigamiYang commented on #244
In my opinion, Python is not a good language for FP (many use cases are not covered), although it has some of the ideas of FP.
So I think FP Pattern should not be included in this repository because this feature is not complete.

[From this page: https://intellipaat.com/community/12542/why-isnt-python-very-good-for-functional-programming]
Below is a list of some functional things which you will mi

[2022-05-31 12:10] karlicoss commented on #88
btw the stdlib has `cached_property` from 3.8, perhaps worth mention https://docs.python.org/3/library/functools.html#functools.cached_property

[2022-05-31 16:16] rachtsingh opened #390 "Shortened URL is spam now"
https://github.com/faif/python-patterns/blob/79d12755010a33a5195d5475a2c8853cda674c29/patterns/creational/factory.py#L15

Just wanted to point out that this link is now spam which tries to fire a WhatsApp message on your behalf... I'm assuming this is the URL shortening company up to some hijinks? Google recommends Bit.ly or Ow.ly as alternatives to their previous goo.gl.

[2022-05-31 17:19] faif commented on #390
Thanks for pointing this out. That sucks. I'll remove it right away.

[2022-05-31 17:33] faif commented on #390
Fixed in 0a15bbe459d198d37bba648d8752ad75f1ed0c5d

[2022-05-31 17:33] #390 closed

[2022-06-01 23:29] Aesthetical2004 opened #391 "random seed does not take effect in doctest"

[2022-06-02 21:04] faif commented on #391
Already covered in #376

[2022-06-02 21:04] #391 closed

[2022-06-02 21:16] #258 closed

[2022-06-17 01:46] sprshr commented on #143
After many years since @yarikoptic opened this issue, this repository is still lacking a proper license. I assume that the repository owner is having a hard time finding one. [choosealicense.com](https://choosealicense.com/) is a helpful source for choosing a license. I hope it helps.

[2022-06-20 21:26] faif commented on #143
It's not about the difficulty of choosing a license. We simply can't add one license for all code because I didn't write all the code in this repo. Some examples were copied from the Internet and we would need to contact the original authors and ask them about using a license. If someone is willing to do that, be my guest (I am not).

[2022-06-26 10:41] gyermolenko commented on #376
maybe I misunderstand original message about

but if I remove `random.seed(1234)`
running `python patterns/creational/abstract_factory.py` produces `***Test Failed*** 1 failures`

(and it produces nothing if `random.seed(1234)`  is at place). So I believe random.seed is there works out for deterministic output.

What output do you have?

[2022-07-04 19:28] #376 closed

[2022-08-05 08:37] LuMiSxh opened #398 "Issue with the observer pattern"
Hey, I'm currently working on expanding the type hints and noticed a mistake. In `patterns/behavioral/observer.py`, the classes `HexViewer` and `DecimalViewer` are supposed to innherit the `Observer`-class, but dont.
Should I fix it and open a pr?

[2022-08-05 08:52] LuMiSxh opened #399 "Issue with the specification pattern"
Inside the `patterns/behavior/specification.py` file, the class `CompositeSpecification` has a missing attribute in the function `not_specification` named `candidate`

[2022-10-21 18:51] #398 closed

[2022-10-21 18:51] #399 closed